@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* ---Colors---*/
.bg-color-name-title {
    background-color: #676767;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498bd;
}

.ui-menu-color-download {
    background-color: #525252;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.section-column {
    display: table-cell;
    float: none;
    padding: 0 30px 30px;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 25px;
}

/* ---Special paddings/margins/text---*/
h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    color: #fafafa;
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

/* ---Headings---*/
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 46px;
    font-weight: 100;
    margin-top: 50px;
}

title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 28px;
    margin-top: 20px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    padding: 0;
    text-align: center;
}

.menuitem a {
    color: #fff;
    height: 120px;
    text-decoration: none;
    width: 100%;
}

.menuitem a i {
    color: #fafafa;
    display: block;
    font-size: 26px;
    padding-top: 22px;
}

.menuitem span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

/* ---Hover---*/
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* ---Footer---*/
footer {
    background-color: #525252;
    color: #fafafa;
    margin: 0;
    min-height: 120px;
}

#footer-details {
    padding: 20px;
}

.cv-pdf i {
    color: #fafafa;
    font-size: 18px;
    padding-left: 5px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    background: #8f8f8f;
    border-radius: 50%;
    color: #fafafa;
    font-size: 13px;
    height: 32px;
    line-height: 7px;
    padding: 12px 0;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    width: 32px;
}

.social-links li a i:hover {
    background: #e84610;
}

/* ---Three reasons---*/
.three-reasons-icon {
    color: #e67e22;
    font-size: 26px;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* ---Personal info---*/
.personal-info-item {
    clear: both;
    display: block;
    margin-bottom: 20px;
}

.personal-info-item .key,
.personal-info-item .value {
    display: inline-block;
    padding-right: 8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
    width: 30%;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/* ---Skills---*/
.progress {
    height: 25px;
    margin-bottom: 4px;
    position: relative;
}

.progress-type {
    background-color: rgba(25, 25, 25, 0.2);
    color: #fafafa;
    font-weight: 400;
    left: 0px;
    padding: 3px 30px 2px 10px;
    position: absolute;
}

.progress-section {
    margin: 40px 20px;
}